li ul.collapse {
    visibility: visible;
}
.container-full{
    margin: 0 auto;
    width: 100%;
}
.intro{
    background-color: white;
    padding-top:30px;
    padding-bottom:30px;

}
.vtitle{background-color: rgb(185, 187, 88);}
.vpic{background-color: rgb(219, 228, 202); }
.cmois{background-color: rgb(196, 189, 176);}
.whitetext{color : white;}
.darkgreen{color : rgb(100, 134, 55);}
.darkred{color : rgb(187, 77, 41);}

div[role=main] {
    padding-top: 60px;
}