<ul class="nav nav-stacked menu" id="sidebar">
    <li class="active" id="home">
        <a href="{{ path('spa_spa_admin') }}">Home</a></li>
    <li>
        <a href="#articles" class="list-group-item">Articles
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="articles">
            <a href="{{ path('spa_spa_admin_articles') }}" class="list-group-item">Créer un article<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Modifier un article<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer un article<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#races" class="list-group-item">Races
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="races">
            <a href="{{ path('spa_spa_admin_races') }}" class="list-group-item">Créer une race<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Modifier une race<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer une race<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
    <li>
        <a href="#tags" class="list-group-item">Tags
            <b class="caret pull-right"></b> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse" id="races">
            <a href="{{ path('spa_spa_admin_tags') }}" class="list-group-item">Créer une race<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Modifier une race<i class="fa fa-caret-down"></i></a>
            <a href="#" class="list-group-item">Supprimer une race<i class="fa fa-caret-down"></i></a>
        </ul>
    </li>
</ul>